<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>登陆</h1>
<form method="post" th:action="@{/login}">
    <label>
        账号：
        <input name="username" type="text" value="admin"/>
    </label>
    <br/>
    <label>
        密码：
        <input name="password" type="password" value="admin"/>
    </label>
    <br/>
    <button type="submit">提交</button>
</form>
</body>
</html>